body {
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #81100C;
     padding: 20px;
}

a {
    text-decoration: none;
    width: 200px;
    color: black;
    font-weight: bold;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button {
    display: flex;
    margin: 0 auto;
    border: 3px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.sigma {

    color: white;
}

h2,h3 {
    color: white;
}

.spongebob:hover {
    color:white;
}

.artur:hover {
    color: white;
}


button:hover {
    color: black;
    background-color: white;
    opacity: 50%;
}
